/target/
!.mvn/wrapper/maven-wrapper.jar



### IntelliJ IDEA ###
.idea
logs/
node_modules/*
.mvn/
*.iws
*.iml
*.ipr
###application.properties
##application.properties
application-alive.properties

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
/build/

### VS Code ###
.vscode/

